body{
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 40px;
}

.box{
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

textarea{
    width: 100%;
    height: 120px;
    padding: 8px;
    font-size: 16px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#count{
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: green;  /* default */
}
