body{
    font-family: Arial;
    padding: 40px;
    background: #f3f3f3;
}

.btns button{
    padding: 6px 12px;
    margin-right: 6px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

.btns button:hover{
    background: #333;
}

#s1{
    margin: 15px 0;
    width: 250px;
    padding: 7px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

#l1{
    list-style: none;
    padding-left: 0;
}

#l1 li{
    background: white;
    margin-bottom: 6px;
    padding: 10px;
    border-radius: 5px;
}