body{
    background: #eee;
    font-family: Arial;
    padding: 50px;
    text-align: center;
}

#box{
    width: 800px;
    height: 500px;
    margin: auto;
}

#box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.btn{
    padding: 7px 14px;
    background: #eeb8b8;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev{ left: 10px; }
.next{ right: 10px; }